philo_one/a.out
philo_one/.*
philo_one/.obj
philo_one/philo_one
philo_two/a.out
philo_two/.*
philo_two/.obj
philo_two/philo_two
philo_three/a.out
philo_three/.*
philo_three/.obj
philo_three/philo_three
